body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 640px;
    min-width: 640px;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid #333;
    background-color: white;
}

.grid-square {
    /* width: 40px;
    height: 40px; */
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.grid-square:hover {
    background-color: plum;
}

.hovered {
    background-color: rgb(217, 176, 217);
}

button {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border: 1px solid #ddd;
}

button:hover {
    background-color: plum;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

h1 {
    padding: 10px;
    padding-bottom: 0px;
}

#text-and-button {
    text-align: center;
}